@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-Bold;
    src: url(../fonts/JosefinSans-Bold.ttf);
}

:root {
    --label-color: #6a6890;
    --btn-bg: #135092;
    --btn-bg-hover: #09294b;
    --shadow-color: rgb(230, 230, 230);
    --fallback-fonts:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family:  JosefinSans-Regular, var(--fallback-fonts);
    height: 100vh;
}

/* ---------- banner ---------- */

.banner {
    flex: 9;
    position: relative;
    overflow: clip;
    min-width: min(415px, 100%);
}

.banner div {
    position: absolute;
    top: 50px;
    width: 100%;
    font-family: JosefinSans-Bold;
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    color: aliceblue;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* ---------- main: outside form ---------- */

main {
    flex: 11;
    min-width: min(510px, 100%);
}

main > * {
    padding: 0px calc(5px + 5%);
}

main > blockquote {
    margin: 40px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4C6398;
}

main > blockquote > div:first-child {
    margin-top: 20px;
}

/* ---------- main: inside form ---------- */

.form-container {
    box-shadow: 0px 5px 15px 2px var(--shadow-color);
    padding-top: 20px;
    padding-bottom: 40px;
}

.form-container form {
    justify-content: space-around;
    gap: 0.4rem;
    max-width: 600px;
}

.form-container h2 {
    width: 100%;
    font-family: JosefinSans-Bold;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #2D356E;
}

.form-container p {
    flex: auto;
    margin: 0px;
}

/* ---------- main: form controls and related ---------- */

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--label-color);
}

input {
    box-sizing: border-box;
    /* width: 100%; */
    height: 1.5rem;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    outline: none;
    padding: 1rem 0.5rem;
}

input:focus {
    border-color: var(--btn-bg);
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
}

input:invalid:not(.invalid-style-hidden) {
    border-color: rgb(255, 71, 71);
}

input::placeholder {
    font-size: 0.8rem;
}

input + span {
    display: block;
    height: 1.6rem;
    font-size: 0.8rem;
}

/* ---------- main: outside form ---------- */

main button {
    font-family: var(--fonts);
    padding: 15px 40px;
    margin: 10px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-bg);
    font-weight: bold;
    color: white;
}

main button:hover {
    background-color: var(--btn-bg-hover);
    cursor: pointer;
}

main > p:last-child > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-bg);
}

main > p:last-child > a:hover {
    color: var(--btn-bg-hover);
}

/* ---------- alignment classes ---------- */

.flex-row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}