@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url(../fonts/JosefinSans-Bold.ttf);
}

:root {
    --bg-color: #FFFFFF;
    --font-color: #6a6890;
    --btn-color: #135092;
    --btn-color-hover: #09294b;
    --box-shadow-color: rgb(230, 230, 230);
    --normal-font: 'JosefinSans-Regular';
    --bold-font: 'JosefinSans-Bold';
}

body {
    background-color: var(--bg-color);
    font-family: var(--normal-font);
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--font-color);
}

input {
    box-sizing: border-box;
    width: 200px;
    height: 1.5rem;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    outline: none;
    padding: 1rem 0.5rem;
    margin-right: 10px;
}

input:focus {
    border-color: var(--btn-color);
    box-shadow: 2px 2px 5px 0px var(--box-shadow-color);
}

.banner {
    flex: 1;
    position: relative;
    height: 100vh;
    min-width: 450px;
    overflow: clip;
}

main {
    flex: 1;
    padding: 50px 0px;
    min-width: 520px;
}

main > * {
    padding: 0px min(50px, 5%)
}

.banner div {
    position: absolute;
    top: 20px;
    width: 100%;
    font-family: var(--bold-font);
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    color: aliceblue;
}

.banner img {
    width: 100%;
    height: 100%;
}

main > blockquote {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4C6398;
}

main > blockquote > div:first-child {
    margin-top: 20px;
}

main form {
    max-width: 550px;
}

main form>p {
    margin-right: 20px;
}

main h2 {
    width: 100%;
    font-family: var(--bold-font);
    font-size: 2rem;
    letter-spacing: 2px;
    color: #2D356E;
}


main button {
    font-family: var(--fonts);
    padding: 15px 40px;
    margin: 10px 0px 5px 0px;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-color);
    font-weight: bold;
    color: white;
}

main button:hover {
    background-color: var(--btn-color-hover);
    cursor: pointer;
}

main > p:last-child > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-color);
}

main > p:last-child > a:hover {
    color: var(--btn-color-hover);
}

.form-container {
    padding-bottom: 20px;
    box-shadow: 0px 5px 15px 2px var(--box-shadow-color);
}

.flex-row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}